body {
background-color: #ECEFF1;
margin: 0;
font-family: Cinzel;
--main-color: #00897B;
}

.topHeader {
background: var(--main-color);
padding: 12px 20px;
box-shadow: 0 3px 3px rgba(0,0,0,0.2);

}


h1 {
color: white;
padding-bottom: 8px;
border-bottom: solid 2px currentColor;
margin-top: 0;
}

.actionButton {
width: 50px;
height: 50px;
padding: none;
border-radius: 50%;
border: 0;
background-color: #FF4081;
display: inline-flex;
align-items: center;
justify-content: center;
box-shadow: 0 4px 4px rgba(0,0,0,0.2);
font-size: 30px;
color: white;
}

.buttonIcon {

}

.killButton {
	margin-left: 24px;
	height: 30px;
	cursor: pointer;
}

.copyButton {
	margin-left: 10px;
	height: 30px;
	cursor: pointer;
}

.inputRow {
display: flex;
align-items: center;
}

#nameInput {
margin-right: 10px;
font-size: 21px;
padding: 6px 12px;
}

#list {
list-style: none;
margin: 0px 20px 20px 20px;
padding: 0px 20px 20px 20px;
width: 505px;
}

.listTitle {
	margin: 30px 0px 6px 40px;
	width: 400px;
	display: flex;
	align-items: center;
}

.initIcon {
	width: 25px;
	display: flex;
	text-align: center;
	padding: 0px 18px;
}

.hpIcon {
	width: 32.5px;
	display: flex;
	text-align: center;
	padding: 0px 15px 0px 25px;
}

.shieldIcon {
	width: 26px;
	display: flex;
	text-align: center;
	padding: 0px 0px 0px 26px;
}

li {
padding: 5px 0;
display: flex;
align-items: center;
font-size: 21px;
font-family: Marcellus SC;
}

li input {
width: 50px;
height: 30px;
text-align: center;
font-size: 21px;
padding: 0px 8px;
margin: 0px 5px 0px 0px;
background: transparent;
border: 0;
border-bottom: solid 1px var(--main-color);
}

li span {
display: inline-block;
width: 120px;
text-align: left;
overflow: hidden;
margin: 0px 30px;
text-overflow: ellipsis;
flex-grow: 1;
}

.charSpan {
	display: inline-block;
	width: 139px;
	text-align: center;
	overflow: hidden;
	margin: 0px 30px;
	font-family: Cinzel;
	border-bottom: dashed 1px black;
}

li.dead span {
	text-decoration: line-through;
}

.current {
	background: #FF4081;
	color: white;
}

.roundRow {
	display: flex;
	align-items: center;
	
}

.rounds {
	display: inline-block;
	margin-left: 30px;
}

#nextButton {
	background: #1DBF87;
	margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}